@import url('http://cdn.gbtags.com/twitter-bootstrap/3.2.0/css/bootstrap.min.css');
@import url('http://cdn.gbtags.com/twitter-bootstrap/3.2.0/css/bootstrap-theme.min.css');
@import url('http://cdn.gbtags.com/font-awesome/4.1.0/css/font-awesome.min.css');


body{
	background: #FFFBE8;
}


.modal.h4{
    text-align: center;
  }
.modal-footer{
    margin: auto;
  }

.navTip , .content{
	display: block;
}

aside{
	display: block;
}

.weblog{
	line-height: 10px;
	height:15px;
}

#picname{
	display: none;
}


.userInfo{
	
}

.carousel{
	height: 250px;
	background-color: #000;
}

.carousel .item{
	height: 250px;
	background-color: #000;
}

.carousel img{
	width: 100%;
	height: 100%;
}


.list-group-item{
	height: 50px;
}

.relate{
	margin: auto;
}

.navTip{
	margin: auto;
}

.modal-footer{
	text-align:center;
}

/*
#somelink,#timepanel{
	border-style: dotted;
	border-width: 1px;
	margin: 20px;
}
*/






.pagebottom{
	position: relative;
	margin: 30px;
	padding-top: 20px;
	background-color: #3E251A;
}


.pagebottom div{
	margin: 0 auto;
	width: 65%;
}

.pagebottom div div{
	width: 200px; /* 这里需要设置元素宽度 */
  	height: 150px;
  	color: #FFF;
  	display: inline-block;
  	margin-left: auto;
  	margin-right: auto;
}


#weibopic{
	width: 15%;
	height: 15%;
}

#weixinpic{
	width: 22%;
	height: 22%;
}


.abc div{display: inline-block;}
#search input:focus {
			  outline:none;
			}

			#search input[type="text"] {
				background: url(search.png) no-repeat 12px 9px #444;
				border: 0 none;
				font: bold 12px Arial,Helvetica,Sans-serif;
				color: #d7d7d7;
				width:150px;
				padding: 10px 15px 10px 35px;
				-webkit-border-radius: 20px;
				-moz-border-radius: 20px;
				border-radius: 20px;
				text-shadow: 0 2px 2px rgba(0, 0, 0, 0.3); 
				-webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 3px rgba(0, 0, 0, 0.2) inset;
				-moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 3px rgba(0, 0, 0, 0.2) inset;
				box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 3px rgba(0, 0, 0, 0.2) inset;
				-webkit-transition: all 0.7s ease 0s;
				-moz-transition: all 0.7s ease 0s;
				-o-transition: all 0.7s ease 0s;
				transition: all 0.7s ease 0s;
				}

			#search input[type="text"]:focus {
				background: url(search.png) no-repeat 12px 9px #EFEFEF;
				color: #6a6f75;
				width: 200px;
				-webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 0 rgba(0, 0, 0, 0.9) inset;
				-moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 0 rgba(0, 0, 0, 0.9) inset;
				box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 0 rgba(0, 0, 0, 0.9) inset;
				text-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
			}