dl{
    width: 300px;
    
}


dd {
    margin: 0;
    padding: 20px 0;
    font-size: 14px;
    background: #fbfbfb;
    padding: 10px 15px;
    text-align: left;
}


dt {
    cursor: pointer;
    font-size : 18px;
    line-height: 23px;
    background: #EB852A;

    border-top: 1px solid #EFEFEF;
	box-shadow: 0 1px 0 #FFFFFF;
    font-weight: 400;
    color: #fff;
    text-align: left;
    padding: 10px 14px;
}

dt:first-child { border-top: none; }
dt:nth-last-child(2) { border-bottom: none; }